#Untrack folders
Android/
Desktop/
Documents/
Downloads/
DevOps/
Extras/
Study/
Synopsis/
Pictures/
cliArgs.sh
showfiles.sh
test.txt
test.html
screenshotbkp
lfopen
replay_pid955.log
java_error_in_idea_955.log
.android
.bash_history
.bash_logout
.bash_profile
.bashrc
.cargo
.config/btop
.config/brightness_controller/
.config/GIMP
.config/QtProject.conf
.cache/
.config/coc/
.config/coreapps/
.config/configstore/
.config/dconf/
.config/discord/
.config/dunst/
.config/eww/
.config/fontconfig/
.config/gtk-2.0/
.config/gtk-3.0/
.config/gtk-4.0/
.config/htop/
.config/JetBrains/
.config/.librewolf/
.config/libreoffice/
.config/mimeapps.list
.config/nitrogen/
.config/pavucontrol.ini
.config/picom/
.config/pulse/
.config/rofibkp/
.config/vlc/
.config/xfce4/
.config/yay/
.dbshell
.fehbg
.gitconfig
.gnupg/
.gtkrc-2.0
.histfile
.icons/
.java/
.jdks/
.lesshsQ
.lesshst
.lyxauth
.librewolf/
.local/
.mozilla/
.mongorc.js
.profile
.python_history
.wakatime.bdb
.wakatime-internal.cfg
.wakatime.cfg
.wakatime.data
.wakatime.log
.xinitrcbkp
.zshenv
.nvm/
.npm/
.pki/
.rustup/
.ssh/
.themes/
.viminfo
.vim/
.wakatime/
.Xauthority
.xmonad/xmonad.hi
.xmonad/xmonad.o
.xmonad/xmonad.errors
.xmonad/xmonad-x86_64-linux
.zcompdump
.zsh/
test/
