snippet psvm "main method in Java"
public static void main(String[] args) {
    $1
}
endsnippet

snippet sout "print"
System.out.println($1);
endsnippet

snippet for "for loop"
for(int $1 ; $1 < $2 ; $1++) {
    $3
}
endsnippet

snippet while "while loop"
while ( $1 < $2 ) {
    $3
}
endsnippet

snippet pc "public class"
public class ${1:className} {
    $2
}
endsnippet
