/* Confirm Dialog */

@import "colors.rasi"

* {
    background-color:       @bg;
    text-color:             @ac;
	font:				 	"Fantasque Sans Mono 16";
}

window {
    width:      			480px;
    padding:    			25px;
    border:					2px;
    border-radius:          10px;
    border-color:           @fg;
    location:               center;
    y-offset:               -2em;
}

entry {
    expand: 				true;
    text-color:				@ac;
}
